q@charset "UTF-8";
/* 
CSS Document
CH11
updated 20160301 2000 jdb

 */



		#tsaGlobalPromo, #globalbanner{display:none;}
		
		#tsaWrapper #tsaLetter{
			background-color:white;	
			border-radius:3px;		
			border:thin #EFEFEF solid;
			padding:70px 0px;
			margin:5px auto 0px auto;
			
		-webkit-box-shadow: 0px 0px 10px 0px rgba(163,163,163,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(163,163,163,1);
box-shadow: 0px 0px 10px 0px rgba(163,163,163,1);
    
		
		}
		
		#tsaWrapper #tsaLetter p{			
			padding:5px 95px;
			margin:16px 0px;
			
		}
	
		#tsaWrapper #tsaLetter ul{			
			padding:5px 95px 5px 160px;
		}
		
		#tsaWrapper #tsaLetter li{			
			padding:5px 25px;
		}
		
		#tsaWrapper #tsaSignature img{
			max-width:350px;
			padding: 0px 0px 0px 35px;
		}
		
		#tsaWrapper #tsaLinkDiv{
			margin:20px auto;	
		}
		
		#tsaWrapper #tsaLinkDiv a{
			text-align:left;
			margin:0px auto;
			color: #ed2124;
			padding:20px;
			display: block;
			border:thin #f7f7f7 solid;
			border-radius:3px; 	
			
		}
		
		#tsaWrapper #tsaLinkDiv a:hover{
			text-decoration:underline;
			
		}
		
		#tsaWrapper h1 {
			text-align:center;
			font-size: 2em;
			margin: .2em .1em;
			font-weight:100;
		}
		
		#tsaWrapper .max-960{
			max-width:960px;
			margin:5px auto;	
		}
		
		@media screen and (max-width: 960px) {
		#tsaWrapper #tsaLetter{
					
					
				-webkit-box-shadow:none;
				-moz-box-shadow:none;
				box-shadow: none;
			
				
				}
		}
		
		@media screen and (max-width: 600px) {
			#tsaWrapper #tsaLetter p{			
				padding:5px 25px;
				
			}
			
			#tsaWrapper #tsaLetter ul {
    			padding: 5px 25px 5px 70px;
			}
			
			#tsaWrapper #tsaLetter li{			
				padding:15px 25px;
			}
			#tsaWrapper #tsaSignature img{
			
			padding: 0px;
			}
		}
		